      /* Import custom Google font */
      @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

      /* Basic body styling */
      body {
        padding: 20px;
        margin: 0px;
        background-color: #fff;
        font-family: sans-serif;
      }

      /* Initially hide the content div until markdown is fully loaded */
      #content {
        display: none; /* Keep content hidden until loaded */
      }

      /* Styling for the logo */
      .logo {
        font-family: "Pacifico", sans-serif;
        font-size: 42px;
        color: #333;
        margin-left: 1px;
        margin-top: -6px;
        margin-bottom: 4px;
        letter-spacing: -2px;
      }
